.nesting-parent {
  color: red;
}
.nesting-parent .nesting-child {
  color: blue;
}
.nesting-parent .nesting-child .nesting-grandchild {
  color: green;
}
.nesting-parent:hover {
  color: orange;
}
.nesting-parent.modifier {
  color: purple;
}
.correctly-exit-calc-mode h2 {
  width: 10px;
}
.correctly-exit-calc-mode div {
  width: calc(100px * 2);
}
.correctly-exit-calc-mode h1 {
  color: white;
}
