.calc-basic {
  width: calc(100% - 30px);
  height: calc(50% + 20px);
  margin: 20px;
  padding: calc(100vh - 50px);
}
.calc-variables {
  root: calc(100% - 30px);
  root2: calc(100% - 40px);
  width: calc(50% + (25vh - 20px));
  height: calc(50% + (25vh - 20px));
}
.calc-nested {
  min-height: 15vh;
  nested: calc((2.25rem + 2px) - 2px);
}
.calc-functions {
  one: calc(100% - 20px);
  two: calc(100% - 20px);
  bar: calc(1 + 20%);
}
.calc-escape {
  three: calc(100% - 3);
  four: calc(100% - 3);
}
.calc-mixed {
  foo: 3 7 11;
  height: calc(100% - 50px);
}
