.lightenblue {
  color: #3333ff;
}
.darkenblue {
  color: #0000cc;
}
.unknowncolors {
  color: blue2;
  border: 2px solid superred;
}
.transparent {
  color: transparent;
  background-color: rgba(0, 0, 0, 0);
}
#alpha #fromvar {
  opacity: 0.7;
}
#alpha #short {
  opacity: 1;
}
#alpha #long {
  opacity: 1;
}
#alpha #rgba {
  opacity: 0.2;
}
#alpha #hsl {
  opacity: 1;
}
#percentage {
  color: 255;
  border-color: rgba(255, 0, 0, 0.5);
}
#grey {
  color: #c8c8c8;
}
#aa3333 {
  color: #aa3333;
}
#bb8080 {
  color: hsl(0, 30%, 62%);
}
#ccff00 {
  color: hsl(72, 100%, 50%);
}
