# OS and IDE
.emacs*
*.flymake
*~
.#*
.idea
*.iml
*.sublime-*

dist/
# the browser dist is pulled from git?
!packages/less/dist

# npm
node_modules/
npm-debug.log

# project-specific
tmp
test/browser/less.min.js
test/browser/less.min.js.map
test/sourcemaps/**/*.map
test/sourcemaps/*.map
test/sourcemaps/*.css
test/less-bom

# grunt
.grunt

# lerna
lerna-debug.log

# dev artifacts
dist
coverage