# OS and IDE
.emacs*
*.flymake
*~
.#*
.idea
*.iml
*.sublime-*

# npm
node_modules
package-lock.json
npm-debug.log

# project-specific
tmp
test/browser/less.min.js
test/browser/less.min.js.map
test/sourcemaps/**/*.map
test/sourcemaps/*.map
test/sourcemaps/*.css
test/less-bom

# grunt
.grunt