@media print {
  .class {
    color: blue;
  }
  .class .sub {
    width: 42;
  }
  .top,
  header > h1 {
    color: #444444;
  }
}
@media screen {
  .body {
    max-width: 480;
  }
}
@media all and (device-aspect-ratio: 16 / 9) {
  .body {
    max-width: 800px;
  }
}
@media all and (orientation: portrait) {
  aside {
    float: none;
  }
}
@media handheld and (min-width: 42), screen and (min-width: 20em) {
  .body {
    max-width: 480px;
  }
}
@media print {
  .body {
    padding: 20px;
  }
  .body header {
    background-color: red;
  }
}
@media print and (orientation: landscape) {
  .body {
    margin-left: 20px;
  }
}
@media screen {
  .sidebar {
    width: 300px;
  }
}
@media screen and (orientation: landscape) {
  .sidebar {
    width: 500px;
  }
}
@media a and (b) {
  .first .second .third {
    width: 300px;
  }
  .first .second .fourth {
    width: 3;
  }
}
@media a and (b) and (c) {
  .first .second .third {
    width: 500px;
  }
}
@media a, (b) and (c) {
  .body {
    width: 95%;
  }
}
@media a and (x), (b) and (c) and (x), a and (y), (b) and (c) and (y) {
  .body {
    width: 100%;
  }
}
.mediaMixin {
  background: black;
}
@media handheld {
  .mediaMixin {
    background: white;
  }
}
@media handheld and (max-width: 200px) {
  .mediaMixin {
    background: red;
  }
}
