.light {
  color: green;
}
.see-the {
  color: green;
}
.hide-the {
  color: green;
}
.multiple-conditions-1 {
  color: red;
}
.inheritance .test {
  color: black;
}
.inheritance:hover {
  color: pink;
}
.clsWithGuard {
  dispaly: none;
}
