.replace.replace .replace,
.c.replace + .replace .replace,
.replace.replace .c,
.c.replace + .replace .c,
.rep_ace,
.effected.replace + .replace .replace,
.effected.replace + .replace .c {
  prop: copy-paste-replace;
}
.replace.replace .replace .d,
.c.replace + .replace .replace .d,
.replace.replace .c .d,
.c.replace + .replace .c .d,
.rep_ace .d,
.effected.replace + .replace .replace .d,
.effected.replace + .replace .c .d {
  prop: deep;
}
.a .b .c,
.effected .b .c {
  prop: is_effected;
}
.a,
.effected {
  prop: is_effected;
}
.a .b,
.effected .b {
  prop: is_effected;
}
.a .b.c,
.effected .b.c {
  prop: is_effected;
}
.b .a {
  prop: not_effected;
}
.a:hover,
.effected:hover {
  hover: is_effected;
}
.e.e,
.dbl {
  prop: extend-double;
}
.e.e:hover,
.dbl:hover {
  hover: up;
}
