#functions {
  color: #660000;
  width: 16;
  height: undefined("self");
  border-width: 5;
  variable: 11;
}
#built-in {
  escaped: -Some::weird(#thing, y);
  lighten: #ffcccc;
  darken: #330000;
  saturate: #203c31;
  desaturate: #29332f;
  greyscale: #2e2e2e;
  spin-p: #bf6a40;
  spin-n: #bf4055;
  format: "rgb(32, 128, 64)";
  format-string: "hello world";
  format-multiple: "hello earth 2";
  format-url-encode: "red is %23ff0000";
  eformat: rgb(32, 128, 64);
  hue: 98;
  saturation: 12%;
  lightness: 95%;
  rounded: 11;
  roundedpx: 3px;
  percentage: 20%;
  color: #ff0011;
}
#built-in .is-a {
  color: true;
  color: true;
  color: true;
  keyword: true;
  number: true;
  string: true;
  pixel: true;
  percent: true;
  em: true;
}
#alpha {
  alpha: rgba(153, 94, 51, 0.6);
}
