.nav {
  filter: progid:dximagetransform.microsoft.alpha(opacity=20);
  filter: progid:dximagetransform.microsoft.alpha(opacity=0);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#333333", endColorstr="#000000", GradientType=0);
}
