@media only screen and (max-width: 200px) {
  width: 480px;
}
@media (max-width: 1200px) {
  /* a comment */
}
/*
  The media statements - 1 is invalid (no selector) and 1 is just a comment
  We should band invalid media queries solving the 1st case and not treat comments as rules,
  solving the 2nd issue.
*/
.visible {
  color: red;
}
.visible .c {
  color: green;
}
.visible {
  color: green;
}
.visible:hover {
  color: green;
}
.visible {
  color: green;
}
.only-with-visible + .visible,
.visible + .only-with-visible,
.visible + .visible {
  color: green;
}
.only-with-visible + .visible .sub,
.visible + .only-with-visible .sub,
.visible + .visible .sub {
  color: green;
}
.b {
  color: red;
  color: green;
}
.b .c {
  color: green;
}
.visible {
  extend: test;
}
