@media print {
  .class {
    color: blue;
  }
  .class .sub {
    width: 42;
  }
  .top, header > h1 {
    color: #444444;
  }
}
@media screen {
  body {
    max-width: 480;
  }
}
@media all and (orientation: portrait) {
  aside {
    float: none;
  }
}
@media handheld and (min-width: 42), screen and (min-width: 20em) {
  body {
    max-width: 480px;
  }
}
