@media print {
  .class {
    color: blue;
  }
  .class .sub {
    width: 42;
  }
  .top, header > h1 {
    color: #444444;
  }
}
@media screen {
  body {
    max-width: 480;
  }
}
@media all and (orientation:portrait) {
  aside {
    float: none;
  }
}
@media screen and (min-width:42) {
  @import "import-test-d.css";
  #import {
    color: red;
  }
  .mixin {
    height: 10px;
    color: red;
  }
  div {
    color: #222;
  }
}
