.zero {
  zero: 0;
  one: 1;
  two: 2;
  three: 3;
}
.one {
  one: 1;
  one-req: 1;
  two: 2;
  three: 3;
}
.two {
  two: 2;
  three: 3;
}
.three {
  three: 3;
}
.left {
  left: 1;
}
.right {
  right: 1;
}
.border-right {
  color: black;
  border-right: 4px;
}
.border-left {
  color: black;
  border-left: 4px;
}
