@-moz-document regexp("(\d{0,15})") {
  a {
    color: red;
  }
}
.custom-property {
  --this: () => {
    basically anything until final semi-colon;
    even other stuff;
  };
}
.var {
  --fortran: read (*, *, iostat=1) radius, height;
}
