.variables {
  width: 14cm;
}
.variables {
  height: 24px;
  color: #888888;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  quotes: "~" "~";
}
.redefinition {
  three: 3;
}
.values {
  font-family: 'Trebuchet', 'Trebuchet', 'Trebuchet';
}
