.variables {
  width: 14cm;
}
.variables {
  height: 24px;
  color: #888888;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  quotes: "~" "~";
}
.redefinition {
  three: 3;
}
.values {
  font-family: 'Trebuchet', 'Trebuchet', 'Trebuchet';
  color: #888888 !important;
  url: url('Trebuchet');
  multi: something 'A', B, C, 'Trebuchet';
}
.variable-names {
  name: 'hello';
}
.alpha {
  filter: alpha(opacity=42);
}
.units {
  width: 1px;
  z-index: 1;
  square-pixel: 1px*px;
  odd-unit: 2em*px/cm;
  percentage: 500%;
  pixels: 500px;
  conversion-metric-a: 30mm;
  conversion-metric-b: 3cm;
  conversion-imperial: 3in;
}
a:nth-child(2) {
  border: 1px;
}
