.literals {
  width: 1e3px;
  height: 1E3px;
  margin: 200px;
  padding: 0.005px;
  top: 1e0px;
  line-height: 1e3;
  opacity: 0.1;
  flex-basis: 150%;
  transform: scale(0.01);
  min-width: calc(1000px + 1px);
}
.units-starting-with-e {
  width: 1em;
  height: 2ex;
  margin: 1e2em;
  padding: 0.5em;
  top: 3e2ex;
}
.arithmetic {
  width: 1001px;
  height: 2px;
  margin: 25px;
}
.variables {
  width: 100px;
  height: 101px;
}
.mixin-argument {
  padding: 100px;
}
.guard {
  color: red;
}
@media (min-width: 1000px) {
  .media-query {
    color: red;
  }
}
