.mixin {
  border: 1px solid black;
}
.mixout {
  border-color: orange;
}
.borders {
  border-style: dashed;
}
.mixins-basic {
  border: 1px solid black;
  border-color: orange;
  border-style: dashed;
}
#namespace .borders {
  border-style: dotted;
}
#namespace .biohazard {
  content: "death";
}
#theme .mixin {
  background-color: grey;
}
.mixins-namespace {
  border-style: dotted;
  background-color: grey;
}
.mixins-parameters .bo,
.mixins-parameters .bar {
  width: 100%;
}
.mixins-parameters .bo {
  border: 1px;
}
.mixins-parameters .ar.bo.ca {
  color: black;
}
.mixins-parameters .jo.ki {
  background: none;
}
.mixins-extended {
  width: 100%;
  background: none;
  color: black;
}
.mixins-parent-selectors .amp.support {
  color: orange;
}
.mixins-parent-selectors .amp.support {
  color: orange;
}
.mixins-guards .underParents {
  color: red;
}
