input[type=text],
input[type=email],
input[type=password],
textarea {
  &:focus {
    foo: bar;
  }
}
input[type=text], input[type=email], input[type=password], textarea {
  &:focus {
    foo: baz;
  }
}
.a,
.b,
.c {
  + .z-cap {
    color: blue;
  }
}
.a, .b, .c {
  + .z-quoted {
    color: green;
  }
}
.bar {
  .d:is(.a, .b, .c)&:hover, baz-cap {
    color: blue;
  }
}
.bar2 {
  .q:is(.a, .b, .c)&:hover, baz-quoted {
    color: green;
  }
}
:is(.a, .b):is(.c, .d) {
  + .e-cap {
    foo: bar;
  }
}
:is(.a, .b):is(.c, .d) {
  + .e-quoted {
    foo: bar;
  }
}
input.cap {
  &[class="text"],
  &.text {
    background: red;
  }
}
input.quoted {
  &[class="text"], &.text {
    background: blue;
  }
}
.master-page-cap {
  .selector-1,
  .selector-2 {
    background-color: red;
  }
}
.master-page-quoted {
  .selector-1, .selector-2 {
    background-color: blue;
  }
}
.fruit-cap-apple,
.fruit-cap-satsuma,
.fruit-cap-banana,
.fruit-cap-pear {
  content: "Capture";
}
