.eval {
    js: `42`;
    js: `1 + 1`;
    js: `"hello world"`;
    title: `process.title`;
    ternary: `(1 + 1 == 2 ? true : false)`;
}
.scope {
    @foo: 42;
    var: `this.foo.toJS()`;
    escaped: e(`2 + 5 + 'px'`);
}
.vars {
    @var: `4 + 4`;
    width: @var;
}
.escape-interpol {
    @world: "world";
    width: ~`"hello" + " " + "@{world}"`;
}
