@inputs: input[type=text], input[type=email], input[type=password], textarea;

@{inputs} {
  &:focus {
    foo: bar;
  }
} 

@classes: ~".a, .b, .c";

@{classes} {  
  + .z {
    color: blue; 
  }
}

@my-selector: ~'.selector-1, .selector-2';
.master-page-1 {
    @{my-selector} {
        background-color: red;
    }
}