.min-max-var {
  a: min(100% - var(--w), 10px);
  b: max(var(--x), 40px);
  c: min(50vh - var(--y), var(--z) + 2px, 40px);
}
.operation-var {
  d: 100% - var(--w);
  e: var(--x) + 2px;
}
.nested-var {
  h: 100% - var(--w) + 2px;
  i: (100% - var(--w)) * 2;
  j: min((100% - var(--w)) * 2, 10px);
  k: 2 * (var(--x) + 1px);
}
.still-evaluates {
  f: 10px;
  g: 5px;
}
