:is(.ext1, .all) .ext2 {
  background: black;
}
@media (tv) {
  :is(.ext1, .tv-lowres, .all) .ext3 {
    color: inherit;
  }
  .tv-lowres {
    background: blue;
  }
  @media (hires) {
    :is(.ext1, .tv-lowres, .tv-hires, .all) .ext4 {
      color: green;
    }
    .tv-hires {
      background: red;
    }
  }
}
