.class {
  .inner {
    height: 300;
    .innest {
      width: 30;
      border-width: 60;
    }
  }
}
.class2 {
  .inner {
    height: 600;
    .innest {
      width: 60;
      border-width: 120;
    }
  }
}
