@page {
  margin: 2cm;
  size: A4;
  marks: crop cross;
}
@font-face {
  font-family: "MyFont";
  src: url("myfont.woff2");
  font-weight: 400;
  font-style: normal;
}
@counter-style my-counter {
  system: fixed;
  symbols: "A" "B" "C";
  suffix: ". ";
}
