:is(.replace.replace, .c.replace + .replace) :is(.replace, .c),
.rep_ace {
  prop: copy-paste-replace;
}
.a .b .c {
  prop: not_effected;
}
.a {
  prop: is_effected;
  .b {
    prop: not_effected;
  }
  .b.c {
    prop: not_effected;
  }
}
.effected {
  prop: is_effected;
}
.c,
.a {
  .b,
  .a {
    .a,
    .c {
      prop: not_effected;
    }
  }
}
.e.e {
  prop: extend-double;
  &:hover {
    hover: not-extended;
  }
}
.dbl {
  prop: extend-double;
}
