.sidebar,
.sidebar2,
.type1 .sidebar3,
.type2.sidebar4 {
  width: 300px;
  background: red;
}
:is(.sidebar, .sidebar2, .type1 .sidebar3, .type2.sidebar4) .box {
  background: #FFF;
  border: 1px solid #000;
  margin: 10px 0;
}
.sidebar2 {
  background: blue;
}
.type1 .sidebar3 {
  background: green;
}
.type2.sidebar4 {
  background: red;
}
.button,
.submit {
  color: black;
}
:is(.button, .submit):hover {
  color: inherit;
}
.button2 :hover {
  nested: white;
}
.button2 :hover {
  notnested: black;
}
.amp-test-h,
.amp-test-f:is(.amp-test-c :is(.amp-test-a, .amp-test-b).amp-test-d:is(.amp-test-a, .amp-test-b).amp-test-e) + :is(.amp-test-c :is(.amp-test-a, .amp-test-b).amp-test-d:is(.amp-test-a, .amp-test-b).amp-test-e).amp-test-g {
  test: extended by masses of selectors;
}
