@media only screen and (max-width: 200px) {
  .body {
    width: 480px;
  }
}
@media all and (tv) {
  .all-and-tv {
    var: yes;
  }
}
@media screen, print {
  .list {
    margin: 0;
  }
}
@container foo (min-width: 400px) {
  .sticky-child {
    font-size: 75%;
  }
}
@supports (display: flex) {
  .flex {
    display: flex;
  }
}
@supports (display: grid) and (gap: 1rem) {
  .grid {
    display: grid;
  }
}
@keyframes enlarger {
  from {
    font-size: 12px;
  }
  to {
    font-size: 15px;
  }
}
@namespace less "http://lesscss.org";
@namespace svgns "http://www.w3.org/2000/svg";
@layer base {
  .layered {
    color: red;
  }
}
