.lightenblue {
  color: #3333ff;
}
.darkenblue {
  color: #0000cc;
}
.unknowncolors {
  color: blue2;
  border: 2px solid superred;
}
.transparent {
  color: transparent;
  background-color: rgba(0, 0, 0, 0);
}
#percentage {
  color: 255;
  border-color: rgba(255, 0, 0, 0.5);
}
