// Color format tests - testing different color formats and conversions
#yelow #short {
  color: #fea;
}
#yelow #long {
  color: #ffeeaa;
}
#yelow #rgba {
  color: rgba(255, 238, 170, 0.1);
}
#yelow #argb {
  color: argb(rgba(255, 238, 170, 0.1));
}

#blue #short {
  color: #00f;
}
#blue #long {
  color: #0000ff;
}
#blue #rgba {
  color: rgba(0, 0, 255, 0.1);
}
#blue #argb {
  color: argb(rgba(0, 0, 255, 0.1));
}

#alpha #hsla {
    color: hsla(11, 20%, 20%, 0.6);
}

