#rrggbbaa {
  test-1: #55FF5599;
  test-2: #5F59;
  test-3: rgba(136, 255, 136, 0.6);
  test-4: rgba(85, 255, 85, 0.1);
  test-5: rgba(85, 255, 85, 0.6);
  test-6: rgba(85, 255, 85, 0.6);
  test-7: rgba(85, 255, 85, 0.5);
  test-8: rgba(var(--color-accent), 0.2);
  test-9: rgb(var(--color-accent));
  test-9: hsla(var(--color-accent));
  test-10: #55FF5599;
  test-11: hsla(120, 100%, 66.66666667%, 0.6);
  test-12: hsla(120, 100%, 66.66666667%, 0.5);
  --semi-transparent-dark-background: #001e00ee;
  --semi-transparent-dark-background-2: #001e00;
}
