.variables-basic {
  width: 14cm;
  height: 24px;
  color: #888;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  quotes: "~" "~";
}
.variable-dash {
  padding: 30px 15px;
}
.variable-redefinition {
  zero: 0;
}
.variable-scope {
  three: 3;
}
.variable-important {
  minus-one: -1;
  font-family: 'Trebuchet', 'Trebuchet', 'Trebuchet';
  color: #888 !important;
  same-color: #888 !important;
  same-again: #888 !important;
  multi-important: #888 #888, 'Trebuchet' !important;
  multi: something 'A', B, C, 'Trebuchet';
}
.variable-names-quoted {
  name: 'hello';
}
.variable-names-unquoted {
  name: 'hello';
}
.variable-names-color-keyword {
  name: 'hello';
}
.variable-units {
  width: 1px;
  same-unit-as-previously: 1px;
  square-pixel-divided: 1px;
  odd-unit: 2;
}
.variable-pollution {
  a: 'no-pollution';
}
